body{
    background-color: #121212 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.botões {
   
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.playlist {
    background-color: #F230AA;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    width: 78px;
    height: 33px;
}

.album {
    background-color: #2658A7;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    width: 67px;
    height: 33px;
}

.podcast {
    background-color: #F230AA;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    width: 79px;
    height: 33px;
}

.criar {
    background-color: #CCF656;
    color: 18461A;
    border-radius: 20px;
    font-size: 12px;
    width: 110px;
    height: 33px;
}




.retangulo-melanie {
    margin-top: 0!important;
    margin: 10px;
    width: 341px;
    height: 59px;
    background-color: #F230AA;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 2px;
    
}

.img-melanie{
    width: 48px;
    height: 48px;
    border-radius: 9px;
}

.nome-música{
    margin-top: 15px;
    font-size:15px;
    padding-right: 5px;
    color: white;
}

.cantora{
    margin-top: 15px;
    font-size:10px;
    color: #CCF656;
}

 .play{
    color: white;
    padding-left: 110px;
   
 }

.container{
    margin-top: 15px;
}


.pesquisa button{
background-color: #CCF656;
display: flex;
width: 359px;
height: 43px;
border-radius: 50px;
margin: 5px;
align-items: center;
font-size: 12px;
padding-left: 10px ;

}

.icon-pesquisa {
padding-left: 270px;
display: flex;
align-items:end;
color: 18461A;
}

.img-playlists{
    display: flex;
    padding-left: 15px;
    flex-direction: row;
    margin-top: 10px;
}

.maikizord{
    font-size: 15px;
}

.playlist-nomes{
    color: white;
    font-family: Arial, sans-serif;
    margin: 3px;
    font-family: "Itim", cursive;
    font-style: normal;
    font-size: 15px;
  }
  
  .tag{
    color: #F230AA;
  }

  .nome-playlist p{
    color: white;
    font-size: 12px;
    padding-right: 20px;
  }

 .artistas-seguidos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 9px;
    gap: 10px;

}
  .artistas-seguidos p{
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 30px;
    font-family: "Itim", cursive;
    font-style: normal;
    font-size: 15px;
  }

  .artistas-seguidos img{
    width:30px ;
    height:30px;
    border-radius: 50px;
  }
  
  .icon{
    color: #CCF656;
  }

  .navbar{
    margin-top: 10px;
  }

  .botão-nav{
    margin-top: 2px;
    color: white;
    width: 90px;
    height:40px ;
    padding: 10px;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    width: 10px;
    height: auto;
    
}

.search-input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    background-color: #fff;
    margin-right: 10px;
}

.search-button {
    background-color: #CCF656;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #a0d23c;
}