body::before {
       content: "";
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: radial-gradient(circle at center, #F230AA, #CCF656);
       z-index: -1;
}
.text-center {
        color: white;
        font-weight: bold;
        font-family: 'Kdam Thmor Pro', sans-serif;
}
